* {

    background-color: aqua;
    margin:0px;
    padding: 0px;
    box-sizing: border-box;

}

.overal_container{
    
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.overal_container > h1:only-of-type{
    
    color:blueviolet;
}





/* from container strats here */


.post_display_form_container{
    max-width:600px;
    width: 100%;
    min-width:100px;
    min-height:100px;
    margin-bottom: 20px;
    border: 2px solid red; 
    border-radius: 10px;
    padding:10px;
  

}


.post_display_form_container > input:only-of-type{
    min-width:100%;
    text-align: center;
    border-radius: 5px;
    padding:6px;


}


 .post_display_form_container > textarea:only-of-type{
    min-width:100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

   
   
}


.post_display_form_container > button:only-of-type{
    min-width: 100%;
    border-radius: 5px;
    background-color: green;
    border:none;
    color:white;

}

/* form container ends  here */




/* display list container starts here */

.post_lists_container{

    max-width: 600px !important;
    width: 100%;
    min-height: 100px;
    border: 2px solid red;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
    padding:10px;
    box-sizing: border-box;


}

.post_lists_container h1, button , p{
    width: 100%;
    padding:5px;
    border-radius: 5px;
}

.post_lists_container  button{
    background-color: red;
    border:none;
    margin-bottom: 10px;
} 


/* display list container ends here */

























































































































































































